	/*
  	Flaticon icon font: Flaticon
  	Creation date: 12/10/2020 15:13
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("../fonts/Flaticon.eot");
  src: url("../fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Flaticon.woff2") format("woff2"),
       url("../fonts/Flaticon.woff") format("woff"),
       url("../fonts/Flaticon.ttf") format("truetype"),
       url("../fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
    font-family: Flaticon;
    font-style: normal;
}

.flaticon-next:before { content: "\f100"; }
.flaticon-left-arrow:before { content: "\f101"; }
.flaticon-left-arrow-1:before { content: "\f102"; }
.flaticon-right-arrow-1:before { content: "\f103"; }
.flaticon-fast-forward:before { content: "\f104"; }
.flaticon-down-arrow-1:before { content: "\f105"; }
.flaticon-wash:before { content: "\f106"; }
.flaticon-eye:before { content: "\f107"; }
.flaticon-view:before { content: "\f108"; }
.flaticon-view-1:before { content: "\f109"; }
.flaticon-up-arrow:before { content: "\f10a"; }
.flaticon-file:before { content: "\f10b"; }
.flaticon-doc:before { content: "\f10c"; }
.flaticon-play-button:before { content: "\f10d"; }
.flaticon-play-button-1:before { content: "\f10e"; }
.flaticon-play:before { content: "\f10f"; }
.flaticon-phone-call:before { content: "\f110"; }
.flaticon-location:before { content: "\f111"; }
.flaticon-location-pin:before { content: "\f112"; }
.flaticon-mail:before { content: "\f113"; }
.flaticon-world-wide-web:before { content: "\f114"; }
.flaticon-eyepatch:before { content: "\f115"; }
.flaticon-aesthetic:before { content: "\f116"; }
.flaticon-beauty:before { content: "\f117"; }
.flaticon-ear:before { content: "\f118"; }